# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE files
.vscode/
.idea/
*.swp


# package-lock.json
# yarn.lock

# Coverage reports
coverage/

# Misc
*.log